pre {
    position: relative;
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 15px;
    background:#fafafa;
    border:1px solid #ccc;
    cursor: pointer;
}
.warning {
    background:#ffe8a1;
    border:1px solid #ffa200;
}
.error {
    background:#ffaaaa;
    border:1px solid #cc0000;
}
.log {
    background:#fafafa;
    border:1px solid #ccc;
}

.close {
    position: absolute;
    right: 6px;
    top: 6px;
    width: 16px;
    height: 16px;
    opacity: 0.3;
}

.close:before, .close:after {
    position: absolute;
    left: 5px;
    content: ' ';
    height: 16px;
    width: 2px;
    background-color: #333;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}
